
.container {
  height: 200%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #118a8a, #0ecbbf);
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  min-width: 480px;
  /* height: 300px; */
  height: fit-content;
  width: fit-content;
  background-color: #27264c;
  color: #0ecbbf;
  box-shadow: 1px 1px 4px rgba(228, 226, 226, 0.2);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
p{
  margin-left: 300px;
  background-color: #27264c;
}
p:hover {
  cursor: pointer;
 
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
}


.header button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  background-color: #20e7e0;
  color: rgb(235, 235, 68);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px 16px;
  width: 50%;
  transition: 100ms;
  cursor: pointer;
}

 .footer button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    outline: none;
    border: none;
    background-color: #20e7e0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }

.footer button:disabled {
  background-color: rgb(44, 32, 32) !important;
}


.header button:hover {
  background-color: rgb(25, 209, 135);
}

.footer button:hover {
  background-color: rgb(25, 209, 135);
}

.footer p {
  font-weight: 700;
  color: #f9f2f2;
}


